<h3>Formulário Cliente</h3>

<form (ngSubmit)="postar()" [formGroup]="meuFormGroup">

  <div class="form-group">
    <label for="nome">Nome Completo</label>
    <input type="text" class="form-control" [(ngModel)]="cliente.nomeCompleto" id="nome" name="nome"
      placeholder="Digite seu nome Completo" formControlName="nome">
  </div>
  <div class="form-group col-md-2">
    <label for="cpf">CPF</label>
    <input type="text" maxlength="14" class="form-control" [(ngModel)]="cliente.cpf" id="cpf" name="cpf"
      placeholder="Digite o CPF" formControlName="cpf" [mask]="getCpfCnpjMask()">
  </div>
  <div class="row">
    <div class="form-group col-md-3">
      <label for="rua">Rua</label>
      <input type="text" class="form-control" [(ngModel)]="cliente.rua" name="rua" id="rua"
        placeholder="Digite o nome da rua" formControlName="rua">
    </div>
    <div class="form-group col-md-2">
      <label for="numero">Número</label>
      <input type="number" formControlName="numero" class="form-control" [(ngModel)]="cliente.numero" name="numero" placeholder="Digite o número do endereço" id="numero">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-3">
      <label for="cidade">Cidade</label>
      <input type="text" class="form-control" id="cidade" [(ngModel)]="cliente.cidade" name="cidade"
        placeholder="Digite a sua cidade" formControlName="cidade">
    </div>
    <div class="form-group col-md-2">
      <label for="estado">Estado</label>
      <select id="estado" class="form-control" [(ngModel)]="cliente.estado" name="estado" formControlName="estado">
        <option value="AC">Acre</option>
        <option value="AL">Alagoas</option>
        <option value="AP">Amapá</option>
        <option value="AM">Amazonas</option>
        <option value="BA">Bahia</option>
        <option value="CE">Ceará</option>
        <option value="DF">Distrito Federal</option>
        <option value="ES">Espírito Santo</option>
        <option value="GO">Goiás</option>
        <option value="MA">Maranhão</option>
        <option value="MT">Mato Grosso</option>
        <option value="MS">Mato Grosso do Sul</option>
        <option value="MG">Minas Gerais</option>
        <option value="PA">Pará</option>
        <option value="PB">Paraíba</option>
        <option value="PR">Paraná</option>
        <option value="PE">Pernambuco</option>
        <option value="PI">Piauí</option>
        <option value="RJ">Rio de Janeiro</option>
        <option value="RN">Rio Grande do Norte</option>
        <option value="RS">Rio Grande do Sul</option>
        <option value="RO">Rondônia</option>
        <option value="RR">Roraima</option>
        <option value="SC">Santa Catarina</option>
        <option value="SP">São Paulo</option>
        <option value="SE">Sergipe</option>
        <option value="TO">Tocantins</option>
        <option value="EX">Estrangeiro</option>
      </select>
    </div>
  </div>

  <input type="submit" class="btn btn-primary mt-4" value="Salvar">

  <br>
  <br>

  <p>
    <ngb-alert [hidden]="hide">
      Um ou mais campos está inválido, gentileza verificar.
    </ngb-alert>
  </p>

  <p>
    <ngb-alert [hidden]="hide2" type="success">
      Cadastro realizado com sucesso!
    </ngb-alert>
  </p>

</form>

<router-outlet></router-outlet>

